@media print {
    @page {
        size: A4;

    }
    .screen-only {
        display: none;
    }
    .page {
        page-break-after: always;
    }

}

.page {
    text-align: center;
    font-size: 18px;
    font-family: "proxima-nova","Helvetica Neue",Arial,sans-serif;
    font-weight: 300;
    line-height: 1.4;
    color: #210f04;
    vertical-align: middle;
    align-content: center;
    padding: 10mm;

    margin-top: 10mm;
    margin-bottom: 10mm;
    margin-left: auto;
    margin-right: auto;
}

table {

    text-align: left;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    border-collapse:collapse;

}

td {
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;

}