@media print {
    @page {
        size: A4;

    }
    .screen-only {
        display: none;
    }
    .page {
        page-break-after: always;
    }

}
.logo {
    width: 50%;
    margin-left: 25%;
    margin-top: 50mm;
}
p {
    text-align: left;
    font-size: 24px;
    font-family: "SharpSansNo1-Light","Helvetica Neue";
    font-weight: 300;
    line-height: 1.4;
    color: #210f04;
    vertical-align: middle;
    align-content: center;
    padding: 5mm;
	margin-top: 5mm;
    margin-bottom: 5mm;
    margin-left: auto;
    margin-right: auto;
}

h1 {
	text-align:left;
	font-size: 48px;
	font-family:"SharpSansNo1-Black";
	font-weight:300;
	line-height: 1.4;
	color: black;
	vertical-align:middle;
	padding:5mm;
}

h2 {
	text-align:left;
	font-size: 28px;
	font-family:"SharpSansNo1-Black";
	font-weight:300;
	line-height: 1.4;
	color: #3a913f;
	vertical-align:middle;
	padding:5mm;

}
	
.zone {
    padding-top: 1mm;
    padding-bottom: 1mm;

    margin-top: 1mm;
    margin-bottom: 1mm;
}

table {

    text-align: left;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    border-collapse:collapse;

}

th, td {
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
	padding: 15px;
    text-align: left;
    font-size: 19px;
	font-family:"SharpSansNo1-Light"

}

ul li {
 
	font-family:"SharpSansNo1-Light";
	font-size:19px;

}